/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sixtyfour&display=swap')

.{
    font-family: 'Open Sans',sans-serif;
}

body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #c2f0ea;
}
#super,#mark{
    text-align: center;
}
.heading{
    text-align: center;
    background-color: rgb(0, 0, 0);
    display: flex;
    font-family: "Sixtyfour", sans-serif;
    font-size: 70px;
    color: white;
}

.comLogo{
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 60%;
}

formDiv{
    background-color: black;

}

label {
    display: block;
    margin-bottom: 10px;
    font-size:larger;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
nav {
    background-color: black;
    color: white;
    display: flex;
}

.clickable {
    flex: 1; /* Distribute equal space among items */
    text-align: center; /* Center align text */
    padding: 20px 0; /* Adjust vertical padding */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition effect */
}

.clickable:hover {
    background-color: rgb(255, 255, 255); 
    color: black;
}


.submitbtn{
    background-color: yellowgreen;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
}
legend{
    color: white;
    font-size:20px;
    text-align: center;
    display: block;
}

text{
    color: white;
}