/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

body{
    font-family: "IBM Plex Mono", monospace;
    color: white;
}

body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

#stanLogo{
    width: 30%;
    display: flex;
}
#super,#mark{
    align-content: center;
    vertical-align:middle;
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}

.heading{
    text-align: center;
    background-color: rgb(0, 0, 0);
    display: flex;
    font-family: "Sixtyfour", sans-serif;
    font-size: 70px;
    color: white;
    display: flex;
}

.comLogo{
    width: 100%;
}

#logout{
    background-color: red;
}
h1 {
    text-align: center;
    margin-top: 50px;
    width: auto;
}

.form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 60%;
}

#loginbody{
    display: flex;
    padding: 0% 5% ;
    /* height:72vh; */
    /* background-color: #000000; */
    /* opacity: 60%; */
}
/* INDEX.html */
#loginArea{
    width: 40%;
    margin: 5%;
    background-color: #000000;
    opacity: 90%;
    padding: 20px;
    border-radius: 10px;
    height: min-content;
}
#instructions{
    width: 60%;
    /* height: 100px; */
    margin: 5%;
    background-color: #000000;
    opacity: 70%;
    padding: 20px;
    border-radius: 10px;
    overflow-y:auto;
}
/* User.html */

formDiv{
    background-color: black;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size:larger;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#role{
    width: 100%;
    padding: 10px;
    margin: 0px 0px 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

nav {
    background-color: black;
    color: white;
    display: flex;
}

.clickable {
    flex: 1; /* Distribute equal space among items */
    text-align: center; /* Center align text */
    padding: 20px 0; /* Adjust vertical padding */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition effect */
}

.clickable:hover {
    background-color: rgb(255, 255, 255); 
    color: black;
}

.submitbtn{
    background-color: yellowgreen;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
}

legend{
    color: white;
    font-size:20px;
    text-align: center;
    display: block;
}

text{
    color: white;
}

ol>li{
    font-weight: bold;
}

ul>li{
    font-weight: lighter;
}