/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

body {
    font-family: "IBM Plex Mono", monospace;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#stanLogo {
    width: 30%;
    display: flex;
}

#super,
#mark {
    align-content: center;
    vertical-align: middle;
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
    text-decoration: none;
}

.heading {
    text-align: center;
    background-color: rgb(0, 0, 0);
    display: flex;
    font-family: "Sixtyfour", sans-serif;
    font-size: 70px;
    color: white;
    display: flex;
}

.comLogo {
    width: 100%;
}

#logout {
    background-color: red;
}

h1 {
    text-align: center;
    margin-top: 50px;
    width: auto;
}


#homemodule {
    z-index: 10;
    margin: 5%;
    border-radius: 25px;
    padding: 5%;
    opacity: 90%;
    background-color: #000000;
    display: flex;
    /* width: 100%; */
}

.form {
    /* z-index: 10; */
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 80%;
}

#pfpImg {
    /* height: 35vh; */
}

#pfp {
    margin: 0% 5% 0 0;
}

img {
    border-radius: 15px;
}

#loginbody {
    display: flex;
    padding: 0% 5%;
    /* height:72vh; */
    /* background-color: #000000; */
    /* opacity: 60%; */
}

/* INDEX.html */
#loginArea {
    width: 40%;
    margin: 5%;
    background-color: #000000;
    opacity: 90%;
    padding: 20px;
    border-radius: 10px;
    height: min-content;
}

#instructions {
    width: 60%;
    /* height: 100px; */
    margin: 5%;
    background-color: #000000;
    opacity: 70%;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
}

/* User.html */

formDiv {
    background-color: black;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: larger;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#role {
    width: 100%;
    padding: 10px;
    margin: 0px 0px 10px;
}

#profileDets {
    width: 100%;
    font-size: 30px;
    height: fit-content;
}

.submit {
    background-color: #ff0000;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    color: #fff;
    border: none;
    cursor: pointer;
}

.submit:hover {
    background-color: #cc4b00;
}

nav {
    background-color: black;
    color: white;
    display: flex;
}

#profHead {
    display: flex;
    justify-content: space-between;
}

#empName {
    font-size: 40px;
}

#designation {
    font-size: 30px;
    padding-top: 10px;
    text-align: end;
    font-style: italic;
}

#empDetsTable {
    width: 100%;
    height:auto;
    text-align: left;
}

#empDetsTable th,
#empDetsTable td {
    /* border: 1px solid #dddddd; */
    /* Add border to cells */
    /* padding: 8px; */
    /* Add padding to cells */
    text-align: left;
    /* Align text to the left */
    vertical-align: middle;
    /* Align text vertically to middle */
}


.clickable {
    flex: 1;
    /* Distribute equal space among items */
    text-align: center;
    /* Center align text */
    padding: 20px 0;
    /* Adjust vertical padding */
    cursor: pointer;
    transition: background-color 0.3s;
    /* Smooth transition effect */
}

.clickable:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.submitbtn {
    background-color: rgb(255, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
}

legend {
    color: white;
    font-size: larger;
    text-align: center;
    display: block;
}

text {
    color: white;
}

ol>li {
    font-weight: bold;
}

ul>li {
    font-weight: lighter;
}

.validationMessage {
    color: red;
    font-size: small;
}

.active {
    background-color: white;
    color: black;
}



.activeView {

}

input[type="text"],input[type="tel"],input[type="email"], select{
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

a#supermarkHREF {
    text-decoration: none;
    color: inherit; /* Inherits color from parent */
    cursor: pointer; /* Optionally change cursor to pointer */
    display: flex;
}

/* #addedItems{
    display: flex;
    background-color: white;
    width: 30%;
}

#additemmodule{
    display: flex;
    width: 30%;
} */